.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
.flex-column {
    flex-direction: column;
}
.flex-left {
    justify-content: left;
}
.flex-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.alignTop {
    display: flex;
    align-items: start;
}