nav a {
    text-decoration: none;
    margin: 0px 5px 0px 5px;
    color: lightblue;
}
a + a::before {
    content: "\00B7";
    color: lightblue;
    top: 14px;
    padding-right: 15px;
}
.navButton {
    text-decoration: none;
    margin: 0px 5px 0px 5px;
    color: lightblue;
}