.service {
    min-width: 300px;
    max-width: 100%;
    min-height: 200px;
    max-height: 100%;
}
.serviceImg {
    height: 150px;
    width: 150px;
}
.serviceBorder {
    padding: 20px;
    border: 0px solid bisque;
    margin: 15px;
}

.serviceHeader {
    font-size: 32px;
    font-weight: 700;
    margin: 0px;
    padding: 20px 10px 10px 0px;
}